{
  "dev": {
    "host": "{{.ServerURL}}",
    "token": "dev-token",
    "user_id": "dev-user",
    "common_var": "env_common_dev"
  },
  "prod": {
    "host": "https://prod.example.com",
    "token": "prod-token",
    "user_id": "prod-user",
    "common_var": "env_common_prod"
  }
}
